<html>
<head>
    <title>Weather Application</title>
  <link rel="stylesheet" href="./css/style.css" />
</head>
<body>
  <div class="main-content">
      {{>header}}
      <h3> {{errorMeassage}}</h3>
   </div>

 
    {{>footer}}
</body>
</html>
