<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="./css/style.css" />
      <link rel="icon" href="/img/cloudy.png" />
  </head>
  <body>
    <div class="main-content">
      <h1>About</h1>
     {{>header}}
      <img class="portriate" src="/img/file.png" alt="Weather Image">
    </div>

    {{>footer}}
  </body>
</html>