<html>
<head>

    <link rel="stylesheet" href="./css/style.css" />
    <link rel="icon" href="/img/cloudy.png" />
    <title>Weather Application</title>

</head>
<body>
  <div class="main-content">
    <h1>Weather</h1>
  {{>header}}
  <p>Use this application to get your weather</p>
  </div>

   {{>footer}}
</body> 
</html>
